<div class="" style="margin-top: 2in; align-items: center;">
    <div class="container mb-5">
        <h1 align="center">Yelley Airline</h1>
        <form [formGroup]="books" (ngSubmit)="submit(books.value)">
            <div class="mb-3">
                <label for="from" class="form-label">Full Name </label>
                <span style="color: red;" *ngIf="books.get('fullName')?.errors?.['required']"> * Required</span><br>
                <input class="form-control" type="text" formControlName="fullName" autofocus />
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <label for="from" class="form-label">From </label>
                    <span style="color: red;" *ngIf="books.get('from')?.errors?.['required']"> * Required</span><br>
                    <select class="form-select mb-3 " formControlName="from" id="from">
            <option value="null">Select province</option>
            <option *ngFor="let a of provinceList" value="{{ a.name_th }}">{{ a.name_th }}</option>
          </select>
                </div>
                <div class="col-md-6">
                    <label for="id" class="form-label">To </label>
                    <span style="color: red;" *ngIf="books.get('to')?.errors?.['required']"> * Required</span><br>
                    <select class="form-select mb-3" formControlName="to" id="to">
            <option value="null">Select province</option>
            <option *ngFor="let b of provinceList" value="{{ b.name_th }}">{{ b.name_th }}</option>
          </select>
                </div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col">
                    <label for="type" class="form-label"> Trip Type </label>
                    <span style="color: red;" *ngIf="books.get('type')?.errors?.['required']"> * Required</span><br>
                    <div class="col" style="display: flex;">
                        <div class="form-check" style="margin-right: 50px;">
                            <input class="form-check-input" type="radio" value="One way" name="flexRadioDefault" id="flexRadioDefault1" formControlName="type" />
                            <label class="form-check-label"> One way </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="Return" name="flexRadioDefault" id="flexRadioDefault2" formControlName="type" />
                            <label class="form-check-label"> Return </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <span style="color: red;" *ngIf="books.get('departure')?.errors?.['required']">* Required</span><br>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="departure" placeholder="Start date">
                            <input matEndDate formControlName="arrival" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-4">
                    <label for="adult" class="form-label"> Adult </label>
                    <span style="color: red;" *ngIf="books.get('adults')?.errors?.['pattern']"> *0-99</span>
                    <input class="form-control" min="0" max="99" type="number" name="adults" id="adults" value="0" formControlName="adults" />
                </div>
                <div class="col-md-4">
                    <label for="children" class="form-label"> Children </label>
                    <span style="color: red;" *ngIf="books.get('children')?.errors?.['pattern']"> *0-99</span>
                    <input class="form-control" min="0" max="99" type="number" name="children" id="children" value="0" formControlName="children" />
                </div>
                <div class="col-md-4">
                    <label for="infants" class="form-label"> Infants </label>
                    <span style="color: red;" *ngIf="books.get('infants')?.errors?.['pattern']"> *0-99</span>
                    <input class="form-control" min="0" max="99" type="number" name="infants" id="infants" value="0" formControlName="infants" />
                </div>
            </div>
            <button type="submit" class="btn btn-success mb-3" [disabled]="books.invalid">
        Place Order
      </button>
        </form>
        <div *ngIf="show">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Trip type</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Adults</th>
                        <th>Children</th>
                        <th>Infants</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookList;let i = index;">
                        <td>{{ book.fullName }}</td>
                        <td>{{ book.from }}</td>
                        <td>{{ book.to }}</td>
                        <td>{{ book.type }}</td>
                        <td>{{ datedep[i]}}</td>
                        <td>{{ datearr[i]}}</td>
                        <td>{{ book.adults }}</td>
                        <td>{{ book.children }}</td>
                        <td>{{ book.infants }}</td>
                        <td style="display: inline-table;">
                            <button class="btn btn-danger" style="margin: 5px  ;" (click)="delBooks(book)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
