/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.mat-typography,
h1 {
    margin: 0;
    font-family: 'Itim', cursive;
    background-color: aliceblue;
}

::selection {
    background-color: tomato;
}
